{% extends 'base.html.twig' %}

{% block title %}Prendre un Rendez-vous{% endblock %}

{% block body %}
    <h1>Prendre un rendez-vous</h1>

    {{ form_start(form) }}
        {{ form_row(form.specialite) }}
        
        {# Affichage dynamique des médecins #}
        {% if medecins is not empty %}
            {{ form_row(form.medecin, {
                'choices': medecins|map(medecin => medecin.nom ~ ' ' ~ medecin.prenom),
                'label': 'Choisissez un médecin'
            }) }}
        {% else %}
            {# Si pas de médecins associés, on garde le champ des médecins désactivé #}
            {{ form_row(form.medecin, {'disabled': true}) }}
        {% endif %}
        
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
