{% extends 'base.html.twig' %}

{% block title %}Choisir un Médecin{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <!-- Appliquer la classe "form-title" ici -->
                    <div class="card-header form-title">
                        <h3>Choisissez un Médecin</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                            <div class="mb-3">
                                {{ form_label(form.medecin, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.medecin, {'attr': {'class': 'form-select'}}) }}
                            </div>
                            <div class="text-center">
                                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-custom'}}) }}
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
