{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1 class="form-title text-center mb-4">Contactez-nous</h1>

    <div class="row">
        <!-- Informations de contact -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="contact_wrap contact_style3 shadow-sm rounded p-4 bg-light">
                <div class="contact_icon">
                    <i class="linearicons-map2"></i>
                </div>
                <div class="contact_text">
                    <span>{% trans %}Adresse{% endtrans %}</span>
                    <a href="#" class="contact-link">Rue des rivageois 7, 4000 Liège</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="contact_wrap contact_style3 shadow-sm rounded p-4 bg-light">
                <div class="contact_icon">
                    <i class="linearicons-envelope-open"></i>
                </div>
                <div class="contact_text">
                    <span>{% trans %}Adresse mail{% endtrans %}</span>
                    <a href="mailto:contact@maison-medicale.com" class="contact-link">contact@maison-medicale.com</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="contact_wrap contact_style3 shadow-sm rounded p-4 bg-light">
                <div class="contact_icon">
                    <i class="linearicons-tablet2"></i>
                </div>
                <div class="contact_text">
                    <span>{% trans %}Téléphone{% endtrans %}</span>
                    <a href="tel:+32489470853" class="contact-link">+32 489 47 08 53</a>
                </div>
            </div>
        </div>
    </div>

    <div class="section pt-0">
        <div class="container mt-5">
            <div class="row">
                <div class="col-xl-6 col-md-10">
                    <div class="border_form shadow-sm rounded p-4">
                        <div class="heading_s1 mb-4">
                            <h2>Contactez-nous</h2>
                        </div>
                        <p class="leads">Une question, une remarque, une suggestion ? Nous nous ferons un plaisir de vous répondre dans les plus brefs délais..</p>
                        <div class="field_form">
                            {{ form_start(form)}}
                                <div class="row">
                                    {% for message in app.flashes('contact_success') %}
                                        <div class="col-md-12 alert alert-success alert-dismissible fade show" role="alert">{{message}}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                    {% for message in app.flashes('contact_error') %}
                                        <div class="col-md-12 alert alert-danger alert-dismissible fade show" role="alert">{{message}}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                    <div class="form-group col-md-6 mb-3">
                                        {{ form_row(form.nom, {'attr': {'class': 'form-control rounded-3'}}) }}
                                    </div>
                                    <div class="form-group col-md-6 mb-3">
                                        {{ form_row(form.email, {'attr': {'class': 'form-control rounded-3'}}) }}
                                    </div>
                                    <div class="form-group col-md-6 mb-3">
                                        {{ form_row(form.telephone, {'attr': {'class': 'form-control rounded-3'}}) }}
                                    </div>
                                    <div class="form-group col-md-6 mb-3">
                                        {{ form_row(form.sujet, {'attr': {'class': 'form-control rounded-3'}}) }}
                                    </div>
                                    <div class="form-group col-md-12 mb-3">
                                        {{ form_row(form.message, {'attr': {'class': 'form-control rounded-3', 'rows': 4}}) }}
                                    </div>
                                    <div class="form-group col-md-12">
                                        <button type="submit" class="btn btn-custom btn-block w-100 py-2">Envoyer Message</button>
                                    </div>
                                </div>
                            {{ form_end(form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <h2 class="text-center mb-4">{% trans %}Notre localisation{% endtrans %}</h2>
        <div class="map-responsive shadow rounded overflow-hidden" style="height: 400px;">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.513829625765!2d5.576238115745652!3d50.63644497950257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0f939ace6bd6d%3A0x3ec39e3702adbb91!2sRue%20des%20Rivageois%207%2C%204000%20Li%C3%A8ge%2C%20Belgium!5e0!3m2!1sfr!2sbe!4v1647695600000!5m2!1sfr!2sbe"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</div>
{% endblock %}
